* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 2px; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.active {
  color: white !important; }

.break-line {
  width: 80%;
  margin: auto;
  background-color: white;
  height: 1px;
  margin-top: 5rem; }

.rotate-left {
  transform: rotate(-90deg); }

.rotate-right {
  transform: rotate(90deg); }

@keyframes rotat {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(180deg);
    background-color: red; }
  100% {
    background-color: pink; } }

@keyframes displace {
  0% {
    transform: translateX(-50%); }
  25% {
    transform: translateX(0); }
  50% {
    transform: translateX(50%); }
  100% {
    transform: translateX(0); } }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 3rem; }

.heading-secondary {
  font-size: 5rem;
  letter-spacing: 1.2;
  font-weight: bold; }

h3 {
  font-size: 2rem; }

p {
  font-size: 1.6rem; }

.header {
  padding: 2rem 5rem;
  height: 72vh;
  background-color: #08003c;
  position: relative;
  z-index: 50; }
  .header-background__square {
    position: absolute;
    top: -50%;
    right: 0;
    width: 50%;
    height: 60%;
    background: linear-gradient(300.47deg, #2A2457 -0.93%, #08003C 48.21%);
    transform: rotate(50deg);
    border-radius: 5rem;
    z-index: -1; }
  .header__logo-box {
    display: flex;
    align-items: center; }
  .header__logo {
    width: 10rem;
    height: 4rem; }
  .header__org-name {
    font-size: 3rem;
    font-weight: 900;
    margin-left: 1rem;
    color: white; }
  .header:before {
    content: "";
    position: absolute;
    top: -5rem;
    left: -10%;
    width: 60rem;
    height: 60rem;
    background: linear-gradient(300.47deg, #2A2457 -1%, #08003C 48.21%);
    transform: rotate(-45deg);
    border-radius: 5rem;
    z-index: -1; }
  .header:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    animation: rotat 2s linear;
    animation-iteration-count: infinite;
    width: 30rem;
    height: 30rem;
    background: linear-gradient(210.51deg, #2A2457 -12.32%, #08003C 92%);
    transform: translate(-50%, -50%) rotate(24.94deg);
    z-index: -1; }

.intro {
  display: flex;
  justify-content: space-between;
  padding: 5rem; }

.user-nav {
  margin-top: 4%; }
  .user-nav__item {
    text-align: center; }
    .user-nav__item:not(:last-child) {
      margin-bottom: 5rem; }
  .user-nav__link {
    font-size: 2.2rem;
    display: inline-block;
    color: #6B6788;
    font-weight: bold; }
    .user-nav__link:hover {
      color: #fff; }

.chapter {
  text-align: center;
  padding: 2rem 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-basis: 40%; }
  .chapter__name {
    text-transform: uppercase;
    line-height: auto;
    font-size: 5rem;
    margin: auto;
    font-weight: 900;
    color: white; }

.dsc img {
  display: inline-block; }

.btn {
  border: 2px solid white;
  border-radius: 10px;
  padding: 1rem 2.5rem;
  display: inline-block;
  font-size: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
  margin-top: 2rem;
  color: white; }

@keyframes rotat {
  0% {
    transform: translate(-50%, -50%); }
  50% {
    transform: translate(-50%, -80%); }
  100% {
    transform: translate(-50%, -50%); } }

.tech-card {
  position: relative;
  text-align: center;
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2rem;
  height: 30rem;
  line-height: 1.7; }
  .tech-card i {
    font-size: 6rem;
    background: linear-gradient(to right, #EA4335, #4285F4, #34A853);
    -webkit-background-clip: text;
    color: transparent; }
  .tech-card__border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    height: 1rem; }
  .tech-card:hover {
    transform: translateY(-1rem);
    box-shadow: 0 20px 40px -5px rgba(0, 0, 0, 0.2); }

.cards-row-1 .tech-card {
  line-height: 2; }
  .cards-row-1 .tech-card__border {
    background-color: #4285F4; }
  .cards-row-1 .tech-card .btn-text:hover {
    background-color: #4285F4; }

.cards-row-2 .tech-card__border {
  background-color: #EA4335; }

.cards-row-2 .btn-text:hover {
  background-color: #EA4335; }

.cards-row-3 .tech-card {
  display: inline-block; }
  .cards-row-3 .tech-card__border {
    background-color: #34A853; }
  .cards-row-3 .tech-card .btn-text:hover {
    background-color: #34A853; }

.btn {
  display: inline-block;
  font-size: 1.6rem;
  margin-top: 2rem;
  text-decoration: none;
  text-transform: uppercase; }
  .btn--blue {
    color: #fff;
    background-color: #08003c; }

.btn-text {
  display: inline-block;
  font-size: 1.6rem;
  margin-top: 1rem;
  text-decoration: none;
  text-transform: uppercase; }
  .btn-text:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    transform: translateY(-4px); }

.card-btn {
  background: #4285F4;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 5px 30px 8px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.1s 0s ease-out;
  transition: all 0.1s 0s ease-out; }
  .card-btn:hover {
    background: #4082ee;
    box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-transition: all 0.25s 0s ease-out;
    transition: all 0.25s 0s ease-out; }
  .card-btn:active {
    background: #3d7be0;
    box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
    -webkit-transition: all 0.025s 0s ease-out;
    transition: all 0.025s 0s ease-out; }

.info-container {
  position: relative;
  width: 100%;
  margin: 6rem; }
  .info-container .info__img {
    display: inline-block;
    position: relative;
    margin-top: 6rem;
    width: 50%;
    border: 1px solid black; }
    .info-container .info__img img {
      max-width: 100%; }
    .info-container .info__img::after {
      content: " ";
      position: absolute;
      top: -1.5rem;
      left: 72%;
      width: 30%;
      height: 20%;
      background-color: red;
      z-index: -1; }
    .info-container .info__img::before {
      content: " ";
      position: absolute;
      top: 62%;
      left: -1.5rem;
      width: 20%;
      height: 40%;
      background-color: red;
      z-index: -1; }
    .info-container .info__img .play-btn {
      position: absolute;
      top: 50%;
      left: 96%;
      transform: translateY(-50%);
      padding: 2rem;
      width: 7rem;
      height: 7rem;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 10px 10px 10px #00000052; }
      .info-container .info__img .play-btn i {
        width: 3rem;
        height: 3rem;
        margin-left: -1.1rem;
        color: red;
        font-size: 1.8rem; }
  .info-container .details {
    position: absolute;
    top: 0rem;
    left: 40%;
    z-index: -3;
    width: 50%;
    height: 45rem;
    font-size: 3rem;
    box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.2);
    background: #fad2cf;
    padding: 2rem;
    padding-left: 13%; }
    .info-container .details h2 {
      margin: 2rem 0; }
    .info-container .details p {
      color: #121212;
      font-size: 2rem;
      line-height: 1.7; }

.header-2 {
  padding: 2rem 5rem;
  height: 72vh;
  background-color: #08003c;
  position: relative;
  z-index: 50;
  overflow: hidden; }
  .header-2 [class^="header__gif"] {
    position: absolute;
    width: 20rem;
    height: 20rem;
    z-index: -1;
    opacity: 0.12;
    object-fit: fill; }
  .header-2 .header__gif-1 {
    top: -30%;
    right: 15%; }
  .header-2:before {
    content: "";
    position: absolute;
    top: -5rem;
    left: -10%;
    width: 60rem;
    height: 60rem;
    background: linear-gradient(to left top, #2A2457, #08003C 50%);
    transform: rotate(-45deg);
    border-radius: 5rem;
    z-index: -1; }
  .header-2__img {
    margin-top: -5rem;
    margin-right: 10rem;
    flex-basis: 60%; }
    .header-2__img img {
      max-width: 100%; }
  .header-2:after {
    content: "";
    position: absolute;
    bottom: -10%;
    left: 40%;
    border-radius: 50%;
    animation: displace 2s linear;
    animation-iteration-count: infinite;
    width: 30rem;
    height: 30rem;
    background: linear-gradient(210.51deg, #2A2457 -12.32%, #08003C 92%);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    z-index: -1; }

.header-3 {
  padding: 2rem 5rem;
  background-color: #08003c;
  position: relative;
  display: flex;
  justify-content: space-between; }

.event-card {
  background: #ffffff;
  height: 400px;
  -webkit-perspective: 1000;
  perspective: 1000;
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: left;
  transform: scale(0.99);
  -webkit-transition: all 0.3s 0s ease-in;
  transition: all 0.3s 0s ease-in;
  margin: 6rem 0;
  z-index: 1; }
  .event-card .date {
    position: absolute;
    top: 0;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(234, 67, 53, 0.8);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .event-card .date span {
      color: white;
      line-height: 1; }
      .event-card .date span:first-child {
        font-size: 20px;
        font-weight: 900; }
      .event-card .date span:last-child {
        font-size: 14px;
        font-weight: 400; }
  .event-card__image-holder {
    background: rgba(0, 0, 0, 0.1);
    height: 80%; }
    .event-card__image-holder img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .event-card .event-title {
    background: #ffffff;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0; }
    .event-card .event-title .toggle-info {
      border-radius: 32px;
      height: 32px;
      padding: 0;
      position: absolute;
      right: 15px;
      top: 10px;
      width: 32px;
      background-color: #4285F4; }
      .event-card .event-title .toggle-info span {
        background: #ffffff;
        display: block;
        height: 2px;
        position: absolute;
        top: 16px;
        -webkit-transition: all 0.15s 0s ease-out;
        transition: all 0.15s 0s ease-out;
        width: 12px; }
        .event-card .event-title .toggle-info span.left {
          right: 14px;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
        .event-card .event-title .toggle-info span.right {
          left: 14px;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
    .event-card .event-title h3 {
      margin-top: 0.5rem; }
  .event-card .card-flap {
    background: #d9d9d9;
    position: absolute;
    width: 100%;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg); }
    .event-card .card-flap .event-description {
      padding: 0 15px 10px;
      position: relative; }
  .event-card .flap1 {
    -webkit-transition: all 0.3s 0.3s ease-out;
    transition: all 0.3s 0.3s ease-out;
    z-index: -1; }
  .event-card .flap2 {
    -webkit-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out;
    z-index: -2; }
    .event-card .flap2 .card-actions {
      box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
      padding: 10px 15px 20px;
      text-align: center;
      font-size: 1.6rem; }
  .event-card:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 20px 40px -5px rgba(0, 0, 0, 0.2); }

.event-card.show {
  opacity: 1 !important;
  transform: translateY(-5rem) scale(1); }
  .event-card.show .event-title a.toggle-info {
    background: #ea4435 !important; }
    .event-card.show .event-title a.toggle-info span {
      top: 14px; }
      .event-card.show .event-title a.toggle-info span.left {
        right: 10px; }
      .event-card.show .event-title a.toggle-info span.right {
        left: 10px; }
  .event-card.show .card-flap {
    background: #ffffff;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg); }
  .event-card.show .flap1 {
    -webkit-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out; }
  .event-card.show .flap2 {
    -webkit-transition: all 0.3s 0.2s ease-out;
    transition: all 0.3s 0.2s ease-out; }

.flickity-viewport {
  height: 550px; }

.footer {
  padding: 8rem 5rem;
  margin-top: 10rem;
  background-color: #08051A; }

.footer-nav {
  display: flex;
  justify-content: space-between; }
  .footer-nav__link:visited, .footer-nav__link:link {
    font-size: 1.5rem;
    display: inline-block;
    text-transform: uppercase;
    color: white;
    font-weight: 400; }
  .footer-nav__link:hover {
    color: #6B6788; }

.footer__paragraph {
  font-size: 1.5rem;
  text-align-last: center;
  width: 60%;
  margin: auto;
  margin-top: 4rem;
  color: white; }

.contact {
  margin-top: 5rem;
  display: flex;
  justify-content: center; }
  .contact__link {
    font-size: 1.5rem;
    width: 5rem;
    height: 3rem;
    fill: white;
    cursor: pointer;
    transition: transform .4s; }
  .contact__link:hover {
    transform: translateY(-5px); }

.row {
  max-width: 116rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 7rem; }
  .row .col-1-of-2 {
    width: calc((100% - 7rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2* 7rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 7rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2* ((100% - 2* 7rem) / 3) + 7rem); }
  .row .col-3-of-4 {
    width: calc(3* ((100% - 3 * 7rem) / 4) + 2* 7rem); }

.tech-section {
  position: relative;
  background-color: #F9F9F9;
  margin: 5rem  0;
  padding: 8rem 5rem; }
  .tech-section .tech-heading {
    position: absolute;
    top: 40%;
    left: -8%;
    margin-bottom: 2rem;
    display: inline-block; }
    .tech-section .tech-heading::after {
      content: "";
      position: absolute;
      width: 50%;
      top: -1rem;
      height: 5px;
      left: 23%;
      transform: translateX(-50%);
      background-image: linear-gradient(to right, #1A73E8, transparent 90%); }

.info-section {
  margin: 3rem  5rem;
  padding: 7rem; }

.events-heading {
  margin: 10rem;
  text-align: center; }
  .events-heading h3 {
    font-weight: 300;
    text-align: center;
    letter-spacing: 1.2; }

.events-illustration {
  width: 116rem; }
  .events-illustration img {
    width: 100%;
    object-fit: cover; }

.past-events, .upcoming-events {
  background: linear-gradient(transparent 50%, #f9f9f9 50%);
  margin: 5rem  0;
  padding: 8rem 5rem;
  position: relative; }

.upcoming-events__bg {
  position: absolute;
  top: 60%;
  right: 0;
  width: 30rem;
  height: 50rem;
  overflow: hidden; }
  .upcoming-events__bg img {
    background: fill; }

.upcoming-events__heading {
  position: absolute;
  top: 40%;
  left: 0; }
  .upcoming-events__heading::after {
    content: "";
    position: absolute;
    width: 50%;
    bottom: -8rem;
    height: 5px;
    left: 18%;
    transform: rotate(-90deg);
    background-color: #1A73E8; }

.past-events__heading {
  position: absolute;
  top: 40%;
  right: 0; }
  .past-events__heading::after {
    content: "";
    position: absolute;
    width: 50%;
    top: -5rem;
    height: 5px;
    right: 3rem;
    transform: rotate(-90deg);
    background-color: #1A73E8; }

.section-event .event__info {
  width: 20rem;
  margin: 0 auto; }

.event__details {
  background-color: #f9f9f9;
  position: relative;
  padding: 5rem 7rem; }
  .event__details h3 {
    margin-bottom: 2rem; }
  .event__details p {
    line-height: 1.4;
    margin-bottom: 1rem; }
  .event__details-text {
    width: 60%; }
  .event__details-img {
    position: absolute;
    top: 20%;
    right: 10rem; }

.section-speaker {
  text-align: center;
  margin-top: 12rem; }
  .section-speaker h2 {
    display: inline-block;
    padding-bottom: 1rem;
    border-bottom: 3px solid blue; }

.section-faq .faq-illustration {
  float: left;
  width: 50%;
  padding: 10rem 5rem; }
  .section-faq .faq-illustration img {
    max-width: 100%; }

.section-faq .faq-container {
  margin: 10rem; }

.accordion {
  margin: 2rem auto; }

.accordion-item {
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden; }
  .accordion-item__ques {
    font-size: 1.8rem;
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer; }
    .accordion-item__ques::after {
      content: "\002B";
      font-size: 2rem;
      position: absolute;
      right: 1rem; }
    .accordion-item__ques.active {
      color: #333 !important; }
    .accordion-item__ques.active::after {
      content: "\2212"; }
  .accordion-item__body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out; }
  .accordion-item__content {
    padding: 1rem;
    line-height: 1.5;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1; }
  .accordion-item::after {
    content: "";
    width: 0.6rem;
    height: 100%;
    position: absolute;
    background-color: orangered;
    left: 0;
    top: 0; }

.section-slack {
  text-align: center; }
  .section-slack .contact-main {
    letter-spacing: 1.2;
    padding: 10rem; }
  .section-slack .slack {
    display: flex;
    background-color: #f9f9f9; }
    .section-slack .slack__text {
      padding: 10rem; }
      .section-slack .slack__text h2 {
        margin-bottom: 5rem; }
    .section-slack .slack__img {
      margin: auto 10rem; }

.section-social {
  padding: 10rem; }
  .section-social .social_icons {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .section-social .social_icons a {
      display: inline-block;
      border: 1px solid #eee;
      padding: 3rem;
      background-color: #2a2457;
      border-radius: 50%;
      transition: all .2s;
      position: relative; }
      .section-social .social_icons a i {
        font-size: 6rem;
        color: #4285F4; }
      .section-social .social_icons a::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #2a2457;
        z-index: -1;
        transition: all 0.4s; }
      .section-social .social_icons a:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
        .section-social .social_icons a:hover::after {
          transform: scale(1.4);
          opacity: 0; }
      .section-social .social_icons a:active, .section-social .social_icons a:focus {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
