.header{
    background: rgb(0, 0, 94);
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
  z-index:-1;

 li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    right: -150px;
    // bottom: -150px;


&:nth-child(1) {
    top: 86%;
    width:80px;
    height:80px;
    animation-delay: 0s;
}

&:nth-child(2) {
    top: 12%;
    width:30px;
    height:30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

&:nth-child(3) {
    top: 40%;
    width:100px;
    height:100px;
    animation-delay: 5.5s;
    
}
&:nth-child(4) {
    top: 90%;
    width:150px;
    height:150px;
    animation-delay: 0s;
    animation-duration: 15s;
    
}
&:nth-child(5) {
    top: 65%;
    width:40px;
    height:40px;
    animation-delay: 0s;

    
}

&:nth-child(6) {
    top: 15%;
    width:110px;
    height:110px;
    animation-delay: 3.5s;

    
}
}
}

@keyframes animate {

    0%{
        transform: translateX(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateX(1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}