</main>

<footer class="footer">
    <ul class="footer-nav mb-medium">
        <li class="footer-nav__item"><a href="" class="footer-nav__link">home</a></li>
        <li class="footer-nav__item"><a href="" class="footer-nav__link">events</a></li>
        <li class="footer-nav__item"><a href="" class="footer-nav__link">faq</a></li>
        <li class="footer-nav__item"><a href="" class="footer-nav__link">contact us</a></li>
    </ul>
    <div class="break-line"></div>
    <div class="footer__paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quae neque, ea voluptate dolor e
    </div>
    <div class="contact">
       <div class="contact-box">
        <a href="#" class="contact__link">
            <svg class="contact__icon">
                <use xlink:href="/images/svg/sprite.svg#icon-facebook" ></use>
            </svg>
        </a>
        <a href="#" class="contact__link">
            <svg class="contact__icon">
                <use xlink:href="/images/svg/sprite.svg#icon-linkedin"></use>
            </svg>
        </a>
        <a href="#" class="contact__link">
            <svg class="contact__icon">
                <use xlink:href="/images/svg/sprite.svg#icon-twitter"></use>
            </svg>
        </a>
        <a href="#" class="contact__link">
            <svg class="contact__icon">
                <use xlink:href="images/svg/sprite.svg#icon-envelope"></use>
            </svg>
        </a>
       </div>
    
    </div>
</footer>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="/js/aos.js">
</script>
<script>

AOS.init({
offset: 120, // offset (in px) from the original trigger point
delay: 0, // values from 0 to 3000, with step 50ms
duration: 400, // values from 0 to 3000, with step 50ms
easing: 'ease', // default easing for AOS animations
once: false, // whether animation should happen only once - while scrolling down
mirror: false, // whether elements should animate out while scrolling past them
anchorPlacement: 'top-bottom',
});
</script>
<script type="module" src="/js/events.js"></script>


<script src="../../index.js"></script>
</body>
