</main>

<footer class="footer">
    <ul class="footer-nav mb-medium">
        <li class="footer-nav__item"><a href="" class="footer-nav__link">home</a></li>
        <li class="footer-nav__item"><a href="" class="footer-nav__link">events</a></li>
        <li class="footer-nav__item"><a href="" class="footer-nav__link">faq</a></li>
        <li class="footer-nav__item"><a href="" class="footer-nav__link">contact us</a></li>
    </ul>
    <div class="break-line"></div>
    <div class="footer__paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quae neque, ea voluptate dolor e
    </div>
    <div class="contact">
       <div class="contact-box">
        <a href="#" class="contact__link">
            <svg class="contact__icon">
                <use xlink:href="/images/sprite.svg#icon-facebook" ></use>
            </svg>
        </a>
        <a href="#" class="contact__link">
            <svg class="contact__icon">
                <use xlink:href="/images/sprite.svg#icon-linkedin"></use>
            </svg>
        </a>
        <a href="#" class="contact__link">
            <svg class="contact__icon">
                <use xlink:href="/images/sprite.svg#icon-twitter"></use>
            </svg>
        </a>
        <a href="#" class="contact__link">
            <svg class="contact__icon">
                <use xlink:href="/images/sprite.svg#icon-envelope"></use>
            </svg>
        </a>
       </div>
    
    </div>
</footer>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="/js/aos.js">
</script>
<script>

AOS.init({
offset: 120, 
delay: 0, 
duration: 200, 
easing: 'ease-in-out', 
once: false, 
mirror: false, 
anchorPlacement: 'top-bottom',
});

let nav = document.querySelector('.mobile-nav')
    let btn = document.querySelector('.nav-button')
    function showNav() {
      nav.classList.toggle("showing")
    }
    btn.addEventListener('click', showNav)

</script>
<script type="module" src="/js/events.js"></script>


<script src="../../index.js"></script>
</body>
</html>
