h1{
    
    font-size: 5rem;
}
h2{
    
    font-size: 3rem;
  //  font-weight: 500;
  
}
.heading-secondary{
 
    font-size: 5rem;
    letter-spacing: 1.2;
    font-weight: bold;
}

h3{
font-size: 2rem;
}

p{
font-size: 1.6rem;
}

$default-font-size: 1.6rem;