.section-slack{
    text-align: center;
    
    .contact-main{
       
        letter-spacing: 1.2;
        padding:10rem;
    }
   .slack{
      display:flex;
      background-color: #f9f9f9;
      &__text{
          padding: 10rem;
          h2{
              margin-bottom: 5rem;
          }
      }

      &__img{
          margin:auto 10rem;
      }
    
   }
}

.section-social{
    padding: 10rem;
    .social_icons{
        margin-top:4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 

    a{
        display: inline-block;
        border: 1px solid #eee;
        padding:3rem;
         background-color: #2a2457;
        border-radius: 50%;
        transition: all .2s;
        position: relative;
      
       
       i{  
            font-size: 6rem;
            color:#4285F4;
            
           
        }

        &::after{
            content:"";
            display:inline-block;
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            border-radius: 50%;
            background-color:  #2a2457;
            z-index:-1;
            transition:all 0.4s;
        }

          
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0,0,0,.2);

        &::after {
            transform: scale(1.4) ;
            opacity: 0;
        }
    }
    
    &:active,
    &:focus {
      
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    }
    }

  }
    
}