.events {
  &-heading {
    margin: 10rem;
    text-align: center;
    p {
      font-weight: 300;
      text-align: center;
      letter-spacing: 1.2;
    }
  }

  &-illustration {
    width: 70%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.past-events,
.upcoming-events {
  background: linear-gradient(transparent 50%, #f9f9f9 50%);
  margin: 5rem 0;
  padding:  5rem;
  position: relative;
  // overflow: hidden;

  &__heading {
    position: absolute;
    display: flex;
    top: 2rem;
    left: 18rem;

    .flaticon-right-arrow {
      font-size: 4rem;
      color: #ea4335;
      //  text-shadow: 0 2px #1A73E8;
      margin-right: 1rem;
    }
  }
}

.upcoming-events {
  &__bg {
    position: absolute;
    top: 60%;
    right: 0;
    width: 20%;
    height: 50%;
    // background-color:#f4f4f4;
    //opacity:0.5;

    overflow: hidden;
    img {
      background: fill;
    }
  }
}

.past-events {
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 50%;
    // background-color:#f4f4f4;
    //opacity:0.5;

    overflow: hidden;
    img {
      background: fill;
    }
  }
}

@media only screen and (max-width: 760px) {
  .events {
    &-illustration {
      width: 90%;
    }
    &-heading {
      margin: 3rem;
    }
  }

  .past-events,
  .upcoming-events {
    margin: 5rem 0;
    padding: 3rem;

    // overflow: hidden;

    &__heading {
      top: 2rem;
      left: 3rem;

      .flaticon-right-arrow {
        font-size: 3rem;
      }
    }
  }
}
