.events{
   &-heading {
       margin: 10rem  ;
       text-align: center;
    h3{
        font-weight: 300;
        text-align: center;
        letter-spacing: 1.2;
    } 
}

    &-illustration{
        width:116rem;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    
}

.past-events , .upcoming-events{
    background:linear-gradient(transparent 50% , #f9f9f9 50%);
    margin: 5rem  0;  
   padding: 8rem 5rem;
   position:relative;
  // overflow: hidden;
  
}

.upcoming-events{
    &__bg{
    position:absolute;
    top:60%;
   right:0;
    width:30rem;
    height:50rem;
   // background-color:#f4f4f4;
    //opacity:0.5;

  overflow: hidden;
  img{
   background: fill;
  }
  
}

&__heading{
    position:absolute;
    top:40%;
    left:0;

    &::after{
        content:"";
        position:absolute;
        width:50%;
       bottom:-8rem;
        height: 5px;
    left:18%;
    transform:  rotate(-90deg);
       background-color: #1A73E8;
     }
}
}

.past-events{
 

&__heading{
    position:absolute;
    top:40%;
    left:0;

    &::after{
        content:"";
        position:absolute;
        width:50%;
       bottom:-4rem;
        height: 5px;
    left:15%;
    transform:  rotate(-90deg);
       background-color: #1A73E8;
     }
}

&__bg{
    position:absolute;
    top:0;
   right:0;
    width:30rem;
    height:50rem;
   // background-color:#f4f4f4;
    //opacity:0.5;

  overflow: hidden;
  img{
   background: fill;
  }
  
}

}
