
  .section-faq{
      .faq-container{
        margin: 10rem 20rem ;
      }

      .faq-heading{
        padding-top:5rem;
       text-align: center;
        h2{
          display: inline-block;
          margin: 0 auto;
        }
      }

      .accordion {
        width: 100%;
       // max-width: 1000px;
         margin: 3rem auto;
       }
  }


.accordion-item{
    
        border-radius: 0.4rem;
        margin-bottom: 1rem;
        padding:2rem;
        box-shadow: 0.5rem 2px 0.5rem rgba(0,0,0,.1);
        position:relative;
        overflow: hidden;
        
    

    &__ques{
        font-size: 1.8rem;
        padding: 0.5rem 3rem 0.5rem 1rem;
        min-height: 3.5rem;
        line-height: 1.25;
        font-weight: bold;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        &::after {
            content: "\002B";
            font-size: 2rem;
            position: absolute;
            right: 1rem;
          }
          &.active{
              color: #333 !important;
          }
          &.active::after {
            content: "\2212";
          }

    }
   &__body {
     background-color: #f9f9f9;
     margin:-2rem;
     margin-top:2rem;
     padding:0 2rem;
     
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }
     &__content {
        padding: 2rem;
        line-height: 1.5;
        border-top: 1px solid;
        border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
      }

      &::after{
          content:"";
          width:0.6rem;
          height:100%;
          position:absolute;
          background-color: orangered;
          left:0;
          top: 0;
     
        
      }

}

// .accordion-item__content--bold , .accordion-item__ques--bold {
//   font-size: 4rem;
//   color:#FAD2CF;
//   margin-right: 1px;
//   margin-top:auto;

// }

@media only screen and (max-width: 760px)  {
  .section-faq{
    .faq-container{
      margin: 3rem 5rem ;
    }
  }
  
}