.tech-section{
    position: relative;
   background-color: #F9F9F9 ;
   margin: 5rem  0; 
   margin-bottom:0; 
   padding: 8rem 10rem;
  
   
   .tech-heading{
       position: absolute;
       display: flex;
       top:-2rem;
       left:15rem;
     
      .flaticon-right-arrow{
         font-size: 4rem;
         color:#EA4335;
       //  text-shadow: 0 2px #1A73E8;
         margin-right: 1rem;
      }
    
      
   }
   
   }
   
   .info-section{
      margin: 3rem  5rem;
      padding:7rem;
     
     
   }

@media only screen and (max-width: 760px) {

     
   .info-section{
      margin: 0;
    //  padding:3rem;

.info-container{
   margin:0;
   padding:0;
   text-align: center;
   .info__video{
     
      margin:0 auto;
   }

   .details{
   position:relative;
   margin:2rem 0;
   left:0;
   top:0;
   
   height:auto;
  width:90%;
   padding:2rem;
  
   }
}
   }
   }


   @media only screen and (max-width: 1200px) {

     
      .info-section{
         margin: 0;
       //  padding:3rem;
   
   .info-container{
      margin:0;
      padding:0;
      text-align: center;
      .info__video{
        
         margin:0 auto;
      }
   
      .details{
      position:relative;
      margin:2rem 0;
      left:0;
      top:0;
      
      height:auto;
     width:90%;
      padding:2rem;
     
      }
   }
      }
      }
 