.header {
    padding: 0 1rem;
    background-color: #08003c;
    position: relative;
    z-index: 50;
    &__logo-box {
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 5rem;
        height: 5rem;
     background-color: #08003c;
    }

    &__org-name {
        font-size: 1.8rem;
        font-weight: 900;
        margin-left: 1rem;
        color: white;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        clip-path: polygon(0 0, 30% 0, 100% 50%, 30% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 30% 0, 100% 50%, 30% 100%, 0 100%);
        width: 40%;
        height: 100%;
        background: linear-gradient(300.47deg, #2A2457 -0.93%, #08003C 48.21%);
        z-index: -1;
    }

    
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        animation: rotat 2s linear;
        animation-iteration-count: infinite;
        width: 20rem;
        height: 20rem;
        background: linear-gradient(210.51deg, #2A2457 -12.32%, #08003C 92%);
        transform: translate(-50%, -50%) rotate(24.94deg);
        z-index: -1;
    }
}

.intro {
    display: flex;
    justify-content: space-around;
    padding: 5rem 0;


}

.user-nav {
    &__item {
        text-align: center;
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__link{
        font-size: 1.5rem;
        display: inline-block;
        color: #6B6788;
        font-weight: bolder;
    }
}

.chapter {
    text-align: center;
    padding: 2rem 0;
    flex-basis: 40%;
    &__name {
        text-transform: uppercase;
        line-height: 32px;
        font-size: 2.2rem;
        margin: auto;
        font-weight: 900;
        color: white;

    }
}

.dsc {
    height: 20rem;
    img {
        display: inline-block;
        height: 100%;
    }
}


///////////////////////////
///     button
.btn {
    border: 2px solid white;
    border-radius: 10px;
    padding: 1rem 2.5rem;
    display: inline-block;
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 2rem;
    color: white;
}

@keyframes rotat {
    0% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(-50%, -80%);
    }

    100% {
        transform: translate(-50%, -50%);
        
    }
}