<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/css/font/flaticon.css">
    <link rel="stylesheet" href="/css/aos.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
<body>
    <header class="header-2">
        <div class="header__logo-box">
          <img src="/images/logo.png" class="header__logo" alt="logo" />
          <h2 class="header__org-name">Developer Students Club</h2>
        </div>
      
        <span></span>
        <div class="intro">
          <nav class="user-nav">
            <ul class="user-nav__list">
              <li class="user-nav__item">
                <a href="/" class="user-nav__link">Home</a>
              </li>
              <li class="user-nav__item">
                <a href="/about" class="user-nav__link">About</a>
              </li>
              <li class="user-nav__item">
                <a href="/events" class="user-nav__link">Events</a>
              </li>
  
              <li class="user-nav__item">
                <a href="/faq" class="user-nav__link ">FAQ</a>
              </li>
              <li class="user-nav__item">
                <a href="/contact" class="user-nav__link active">Contact us</a>
              </li>
            </ul>
          </nav>
          <div class="header-2__img">
            <img src="/images/about.png" alt="" />
          </div>

         
        </div>
      
      </header>

      <main class="main">

        <section class="about-section">
            <div class="about">
                <h2 class="secondary__heading">About us</h2>
                <p class="about__text">
                    Developer Student Club is an initiative taken by Google Developers to help university students 
                    learn multiple technical domains. . Specifically aimed for university students to help them build their 
                    mobile, web, machine learning, cloud service skills, DSC provides an interactive space for students to 
                    brainstorm new ideas and create beautiful solutions.The members of  Developer Student Clubs are strongly 
                    determined to redefine the vision of this 21st century by manifesting technology to students. Pondering upon 
                    the bright future of young faces, we have broadened our horizons for the very cause. It doesn’t matter if you 
                    are a rookie exploring technology, or an expert developer crafting complicated projects DSC honors every student 
                    with a passion for code.Our goal is to help nurture future developers and leaders and create a pool of highly skilled 
                    tech workforce, which is readily employable by the industry and help spur innovation.</p>
                  <p class="about__text">  The program is aimed at inspiring and training students who will encourage other students on their campuses to learn newer areas of technologies that 
                     will equip them with the right skill sets as they step out of colleges to join the workforce.
                      As this club is a global community, everyone has access to reach out or connect
with people across the globe, learn things together, solve problems together, etc. DSC offers workshops,solution development activities,showcases,featuring a student success story,growing local community.

                </p>
            </div>
            <div class="about-leader">
                <img src="images/Pranshu Pareek.jpeg" alt="leader">
                <h1 class="about-leader__name mb-vs">Paranshu Pareek</h1>
                <p class="about-leader__lead mb-small">DSC Lead</p>
                <div class="about-leader__contact-box">
                    <a href="#" class="contact__link profile__link">
                        <svg class="contact__icon profile__icon">
                            <use xlink:href="images/sprite.svg#icon-facebook" ></use>
                        </svg>
                    </a>
                    <a href="#" class="contact__link profile__link ">
                        <svg class="contact__icon profile__icon">
                            <use xlink:href="images/sprite.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                    <a href="#" class="contact__link profile__link">
                        <svg class="contact__icon profile__icon">
                            <use xlink:href="images/sprite.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </section>

        <!-- //////////// MENTORS SECTION ////////////-->

        <section class="mentors-section">
          
            <div class="right__pen">
                <svg xmlns="http://www.w3.org/2000/svg" class="right__pen-icon" viewbox = "0 0 135.6318598508676 40">
                    <path class="BwUbtA" d="M119.43185985086762,3.9C111.53185985086762,3.9 105.03185985086762,9.6 103.53185985086762,17H0V23H103.63185985086761C105.03185985086762,30.5 111.63185985086761,36.1 119.53185985086759,36.1 128.43185985086757,36.1 135.6318598508676,28.900000000000002 135.6318598508676,20C135.6318598508676,11.099999999999998 128.43185985086762,3.8999999999999986 119.43185985086762,3.8999999999999986z"/>
                </svg>
            </div>
            <h2 class="secondary__heading mb-medium">Mentors</h2>
            <div class="profile">
                <div class="profile__card profile__card--effect">
                    <div class="profile__image">
                        <img src="/images/ankur.jpg" alt="mentor">
                    </div>
                    <div class="mentors-section__background">
                        <img src="/images/Untitled design-3.svg" alt="">
                    </div> 
                    <svg class = "mb-vs" viewbox="0 0 16 14" xmlns="http://www.w3.org/2000/svg" style="height: 2rem;"><path fill-rule="evenodd" clip-rule="evenodd" d="M.116 4.884l1.768-1.768L8 9.232l6.116-6.116 1.768 1.768L8 12.768.116 4.884z"/></svg>

                    <h3 class="profile__name mb-vs">Ankur Verma</h3>
                    <p class="profile__skills mb-small">SIH winner</p>
                    <div class="contact-box contact-box--mentor">
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-facebook" ></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link ">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="profile__card profile__card--effect">
                    <div class="profile__image">
                        <img src="/images/himanshugarg.png" alt="mentor">
                    </div>
                    <div class="mentors-section__background">
                        <img src="/images/Untitled design-3.svg" alt="">
                    </div> 
                    <svg class = "mb-vs" viewbox="0 0 16 14" xmlns="http://www.w3.org/2000/svg" style="height: 2rem;"><path fill-rule="evenodd" clip-rule="evenodd" d="M.116 4.884l1.768-1.768L8 9.232l6.116-6.116 1.768 1.768L8 12.768.116 4.884z"/></svg>
                    <h3 class="profile__name mb-vs">Himanshu Garg</h3>
                    <p class="profile__skills mb-small">Open Source Contributor</p>
                    <div class="contact-box contact-box--mentor">
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-facebook" ></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link ">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="left__pen">
                <svg xmlns="http://www.w3.org/2000/svg" class="left__pen-icon" viewbox="0 0 135.6318598508676 40">
                    <path class="BwUbtA" d="M119.43185985086762,3.9C111.53185985086762,3.9 105.03185985086762,9.6 103.53185985086762,17H0V23H103.63185985086761C105.03185985086762,30.5 111.63185985086761,36.1 119.53185985086759,36.1 128.43185985086757,36.1 135.6318598508676,28.900000000000002 135.6318598508676,20C135.6318598508676,11.099999999999998 128.43185985086762,3.8999999999999986 119.43185985086762,3.8999999999999986z"/>
                </svg>
            </div>
        </section>

        <!-- //////////// TEAM SECTION ////////////-->

        <section class="team-section "> 
            <h2 class="secondary__heading mb-medium">Technical Team</h2>
            <div class="profile">
                <div class="profile__card">
                    <div class="profile__image profile__image--hover">
                        <img src="/images/gaurav.jpg" alt="Technical head image">
                    </div>
                    <h3 class="profile__name mb-vs">Gaurav</h3>
                    <p class="profile__skills mb-small">Technical Lead</p>
                    <div class="contact-box">
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-facebook" ></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link ">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="profile__card">
                    <div class="profile__image">
                        <img src="/images/simran.jpg" alt="mentor">
                    </div>
                    <h3 class="profile__name mb-vs">Simran</h3>
                    <p class="profile__skills mb-small">Technical Co-lead</p>
                    <div class="contact-box">
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-facebook" ></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link ">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="profile__card">
                    <div class="profile__image">
                        <img src="/images/pratiyush.jpeg" alt="android team member">
                    </div>
                    <h3 class="profile__name mb-vs">Piyush</h3>
                    <p class="profile__skills mb-small">Android Team</p>
                    <div class="contact-box">
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-facebook" ></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link ">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="profile__card">
                    <div class="profile__image">
                        <img src="/images/ATIN.jpg" alt="android team member">
                    </div>
                    <h3 class="profile__name mb-vs">Atin</h3>
                    <p class="profile__skills mb-small">Android Team</p>
                    <div class="contact-box">
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-facebook" ></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link ">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="profile__card">
                    <div class="profile__image">
                        <img src="/images/prateek.jpg" alt="machine learning member">
                    </div>
                    <h3 class="profile__name mb-vs">Prateek</h3>
                    <p class="profile__skills mb-small">ML Team</p>
                    <div class="contact-box">
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-facebook" ></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link ">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                
                <div class="profile__card">
                    <div class="profile__image">
                        <img src="/images/lovish.jpg" alt="ML Team member">
                    </div>
                    <h3 class="profile__name mb-vs">Lovish</h3>
                    <p class="profile__skills mb-small">ML Team</p>
                    <div class="contact-box">
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-facebook" ></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link ">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="profile__card">
                    <div class="profile__image">
                        <img src="/images/sonali.jpg" alt="mentor">
                    </div>
                    <h3 class="profile__name mb-vs">Sonali</h3>
                    <p class="profile__skills mb-small">Web Team</p>
                    <div class="contact-box">
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-facebook" ></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link ">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                
                <div class="profile__card">
                    <div class="profile__image">
                        <img src="/images/himanshu.jpg" alt="mentor">
                    </div>
                    <h3 class="profile__name mb-vs">Himanshu</h3>
                    <p class="profile__skills mb-small">Web Team</p>
                    <div class="contact-box">
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-facebook" ></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link ">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                
                <div class="profile__card">
                    <div class="profile__image">
                        <img src="/images/sakshi.jpg" alt="cloud team member">
                    </div>
                    <h3 class="profile__name mb-vs">Sakshi</h3>
                    <p class="profile__skills mb-small">Cloud Team</p>
                    <div class="contact-box">
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-facebook" ></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link ">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                
                <div class="profile__card">
                    <div class="profile__image">
                        <img src="/images/lovish.jpg" alt="Big Data team">
                    </div>
                    <h3 class="profile__name mb-vs">Rushil</h3>
                    <p class="profile__skills mb-small">Data Analaysis Lead</p>
                    <div class="contact-box">
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-facebook" ></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link ">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="profile__card">
                    <div class="profile__image">
                        <img src="/images/pratiyush.jpg" alt="cybersecurity team member">
                    </div>
                    <h3 class="profile__name mb-vs">Pratiyush</h3>
                    <p class="profile__skills mb-small">CyberSecurity Team</p>
                    <div class="contact-box">
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-facebook" ></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link ">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="/images/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </div>
                </div>

            </div>
        </section>


        <!--///////////////////  non-tech  ///////////////////////////-->

        <section class="team-section non-tech">
                <h2 class="secondary__heading mb-medium">Non Technical Team</h2>
                <div class="profile">

                    <div class="profile__card">
                        <div class="profile__image">
                            <img src="/images/Aishwarya Singh.jpg" alt="non tech team member">
                        </div>
                        <h3 class="profile__name mb-vs">Aishwarya</h3>
                        <p class="profile__skills mb-small">Non Tech Lead</p>
                        <div class="contact-box">
                            <a href="#" class="contact__link profile__link">
                                <svg class="contact__icon profile__icon">
                                    <use xlink:href="/images/sprite.svg#icon-facebook" ></use>
                                </svg>
                            </a>
                            <a href="#" class="contact__link profile__link ">
                                <svg class="contact__icon profile__icon">
                                    <use xlink:href="/images/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                            <a href="#" class="contact__link profile__link">
                                <svg class="contact__icon profile__icon">
                                    <use xlink:href="/images/sprite.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </div>
                    </div>

                   <div class="profile__card">
                        <div class="profile__image">
                            <img src="/images/rishi.jpg" alt="non tech team member">
                        </div>
                        <h3 class="profile__name mb-vs">Rishikant</h3>
                        <p class="profile__skills mb-small">Non Tech Co-lead</p>
                        <div class="contact-box">
                            <a href="#" class="contact__link profile__link">
                                <svg class="contact__icon profile__icon">
                                    <use xlink:href="/images/sprite.svg#icon-facebook" ></use>
                                </svg>
                            </a>
                            <a href="#" class="contact__link profile__link ">
                                <svg class="contact__icon profile__icon">
                                    <use xlink:href="/images/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                            <a href="#" class="contact__link profile__link">
                                <svg class="contact__icon profile__icon">
                                    <use xlink:href="/images/sprite.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="profile__card">
                        <div class="profile__image">
                            <img src="/images/krishnan.jpeg" alt="non tech team member">
                        </div>
                        <h3 class="profile__name mb-vs">Krishnan</h3>
                        <p class="profile__skills mb-small">Bla Bla</p>
                        <div class="contact-box">
                            <a href="#" class="contact__link profile__link">
                                <svg class="contact__icon profile__icon">
                                    <use xlink:href="/images/sprite.svg#icon-facebook" ></use>
                                </svg>
                            </a>
                            <a href="#" class="contact__link profile__link ">
                                <svg class="contact__icon profile__icon">
                                    <use xlink:href="/images/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                            <a href="#" class="contact__link profile__link">
                                <svg class="contact__icon profile__icon">
                                    <use xlink:href="/images/sprite.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </div>
                    </div>

                    
                    <div class="profile__card">
                        <div class="profile__image">
                            <img src="/images/lakshay.jpg" alt="non tech team">
                        </div>
                        <h3 class="profile__name mb-vs">Lakshay</h3>
                        <p class="profile__skills mb-small">Bla Bla</p>
                        <div class="contact-box">
                            <a href="#" class="contact__link profile__link">
                                <svg class="contact__icon profile__icon">
                                    <use xlink:href="/images/sprite.svg#icon-facebook" ></use>
                                </svg>
                            </a>
                            <a href="#" class="contact__link profile__link ">
                                <svg class="contact__icon profile__icon">
                                    <use xlink:href="/images/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                            <a href="#" class="contact__link profile__link">
                                <svg class="contact__icon profile__icon">
                                    <use xlink:href="/images/sprite.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="profile__card">
                        <div class="profile__image">
                            <img src="/images/abhimanyu.jpg" alt="non tech team">
                        </div>
                        <h3 class="profile__name mb-vs">Abhimanyu</h3>
                        <p class="profile__skills mb-small">Bla Bla</p>
                        <div class="contact-box">
                            <a href="#" class="contact__link profile__link">
                                <svg class="contact__icon profile__icon">
                                    <use xlink:href="/images/sprite.svg#icon-facebook" ></use>
                                </svg>
                            </a>
                            <a href="#" class="contact__link profile__link ">
                                <svg class="contact__icon profile__icon">
                                    <use xlink:href="/images/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                            <a href="#" class="contact__link profile__link">
                                <svg class="contact__icon profile__icon">
                                    <use xlink:href="/images/sprite.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    
                    <div class="profile__card">
                        <div class="profile__image">
                            <img src="/images/parul2.jpg" alt="mentor">
                        </div>
                        <h3 class="profile__name mb-vs">Parul</h3>
                        <p class="profile__skills mb-small">Content Writter</p>
                        <div class="contact-box">
                            <a href="#" class="contact__link profile__link">
                                <svg class="contact__icon profile__icon">
                                    <use xlink:href="/images/sprite.svg#icon-facebook" ></use>
                                </svg>
                            </a>
                            <a href="#" class="contact__link profile__link ">
                                <svg class="contact__icon profile__icon">
                                    <use xlink:href="/images/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                            <a href="#" class="contact__link profile__link">
                                <svg class="contact__icon profile__icon">
                                    <use xlink:href="/images/sprite.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </div>
                    </div>

                    
                    <div class="profile__card">
                        <div class="profile__image">
                            <img src="/images/vedita.jpeg" alt="mentor">
                        </div>
                        <h3 class="profile__name mb-vs">Vedita</h3>
                        <p class="profile__skills mb-small">Marketing</p>
                        <div class="contact-box">
                            <a href="#" class="contact__link profile__link">
                                <svg class="contact__icon profile__icon">
                                    <use xlink:href="/images/sprite.svg#icon-facebook" ></use>
                                </svg>
                            </a>
                            <a href="#" class="contact__link profile__link ">
                                <svg class="contact__icon profile__icon">
                                    <use xlink:href="/images/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                            <a href="#" class="contact__link profile__link">
                                <svg class="contact__icon profile__icon">
                                    <use xlink:href="/images/sprite.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </div>
                    </div>



                </div>
        </section>

    </main>

      <%-include("../partials/footer.ejs")%>