<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/css/font/flaticon.css">
    <link rel="stylesheet" href="/css/aos.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
<body>
    <header class="header-2">
        <div class="header__logo-box">
          <img src="/images/logo.png" class="header__logo" alt="logo" />
          <h2 class="header__org-name">Developer Students Club</h2>
        </div>
      
        <span></span>
        <div class="intro">
          <nav class="user-nav">
            <ul class="user-nav__list">
              <li class="user-nav__item">
                <a href="/" class="user-nav__link">Home</a>
              </li>
              <li class="user-nav__item">
                <a href="/about" class="user-nav__link">About</a>
              </li>
              <li class="user-nav__item">
                <a href="/events" class="user-nav__link">Events</a>
              </li>
  
              <li class="user-nav__item">
                <a href="/faq" class="user-nav__link ">FAQ</a>
              </li>
              <li class="user-nav__item">
                <a href="/contact" class="user-nav__link active">Contact us</a>
              </li>
            </ul>
          </nav>
          <div class="header-2__img">
            <img src="/images/about.png" alt="" />
          </div>

         
        </div>
        <!-- <div class="header__gif-1"> 
          <img src="/images/d04d34c8a3d532c9a0d53396744c7d04.gif" alt="gif">
        </div> -->
      </header>

<main class="main">

    <section class="about-section">
        <svg class="about__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 500 249.996" enable-background="new 0 0 500 249.996" xml:space="preserve" role="img" aria-label="Semi-Circle">
            <g id="__id21_sjst31jgu"><path d="M249.996,249.996C388.069,249.996,500,138.068,500,0H0C0,138.068,111.929,249.996,249.996,249.996z"/></g>
        </svg>
        <div class="about">
            <h2 class="secondary__heading">About us</h2>
            <img class= "mb-small" src="img/sample.jpg" alt="">
            <p class="about__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam excepturi eveniet odio iste saepe possimus voluptatum sunt quaerat itaque, voluptatibus debitis sapiente beatae asperiores fugiat totam ullam consectetur fuga officiis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam excepturi eveniet odio iste saepe possimus voluptatum sunt quaerat itaque, voluptatibus debitis sapiente beatae asperiores fugiat totam ullam consectetur fuga officiis.
            </p>
        </div>
        <div class="about-leader">
            <img src="/image/Pranshu Pareek.jpeg" alt="leader">
            <h1 class="about-leader__name mb-vs">Paranshu Pareek</h1>
            <p class="about-leader__lead">DSC Leader</p>
        </div>
    </section>

    <!-- //////////// MENTORS SECTION ////////////-->

    <section class="mentors-section mb-large">
        <div class="right__pen">
            <svg xmlns="http://www.w3.org/2000/svg" class="right__pen-icon" viewBox="0 0 135.6318598508676 40">
                <path class="BwUbtA" d="M119.43185985086762,3.9C111.53185985086762,3.9 105.03185985086762,9.6 103.53185985086762,17H0V23H103.63185985086761C105.03185985086762,30.5 111.63185985086761,36.1 119.53185985086759,36.1 128.43185985086757,36.1 135.6318598508676,28.900000000000002 135.6318598508676,20C135.6318598508676,11.099999999999998 128.43185985086762,3.8999999999999986 119.43185985086762,3.8999999999999986z"/>
            </svg>
        </div>
        <h2 class="secondary__heading mb-small">Mentors</h1>
        <div class="profile">
            <div class="profile__card profile__card--effect">
                <div class="profile__image">
                    <img src="img/ankur.jpg" alt="mentor">
                </div>
                <h3 class="profile__name mb-vs">Ankur Verma</h3>
                <p class="profile__skills mb-small">SIH winner</p>
                <div class="contact-box contact-box--mentor">
                    <a href="#" class="contact__link profile__link">
                        <svg class="contact__icon profile__icon">
                            <use xlink:href="img/sprite.svg#icon-facebook" ></use>
                        </svg>
                    </a>
                    <a href="#" class="contact__link profile__link ">
                        <svg class="contact__icon profile__icon">
                            <use xlink:href="img/sprite.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                    <a href="#" class="contact__link profile__link">
                        <svg class="contact__icon profile__icon">
                            <use xlink:href="img/sprite.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="profile__card profile__card--effect">
                <div class="profile__image">
                    <img src="img/himanshugarg.png" alt="mentor">
                </div>
                <h3 class="profile__name mb-vs">Himanshu Garg</h3>
                <p class="profile__skills mb-small">SIH winner</p>
                <div class="contact-box contact-box--mentor">
                    <a href="#" class="contact__link profile__link">
                        <svg class="contact__icon profile__icon">
                            <use xlink:href="img/sprite.svg#icon-facebook" ></use>
                        </svg>
                    </a>
                    <a href="#" class="contact__link profile__link ">
                        <svg class="contact__icon profile__icon">
                            <use xlink:href="img/sprite.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                    <a href="#" class="contact__link profile__link">
                        <svg class="contact__icon profile__icon">
                            <use xlink:href="img/sprite.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <div class="left__pen">
            <svg xmlns="http://www.w3.org/2000/svg" class="left__pen-icon" viewBox="0 0 135.6318598508676 40">
                <path class="BwUbtA" d="M119.43185985086762,3.9C111.53185985086762,3.9 105.03185985086762,9.6 103.53185985086762,17H0V23H103.63185985086761C105.03185985086762,30.5 111.63185985086761,36.1 119.53185985086759,36.1 128.43185985086757,36.1 135.6318598508676,28.900000000000002 135.6318598508676,20C135.6318598508676,11.099999999999998 128.43185985086762,3.8999999999999986 119.43185985086762,3.8999999999999986z"/>
            </svg>
        </div>
    </section>

    <!-- //////////// TEAM SECTION ////////////-->

    <section class="team-section mb-large"> 
        <h2 class="secondary__heading mb-small">Our Team</h1>
            <div class="profile">
                <div class="profile__card">
                    <div class="profile__image profile__image--hover">
                        <img src="img/gaurav.jpg" alt="Technical head image">
                    </div>
                    <h3 class="profile__name mb-vs">Gaurav Verma</h3>
                    <p class="profile__skills mb-small">Technical Lead</p>
                    <div class="contact-box">
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-facebook" ></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link ">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="profile__card">
                    <div class="profile__image">
                        <img src="img/simran.jpg" alt="mentor">
                    </div>
                    <h3 class="profile__name mb-vs">Simran</h3>
                    <p class="profile__skills mb-small">Technical Co-lead</p>
                    <div class="contact-box">
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-facebook" ></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link ">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="profile__card">
                    <div class="profile__image">
                        <img src="img/rishi.jpg" alt="mentor">
                    </div>
                    <h3 class="profile__name mb-vs">Rishikant</h3>
                    <p class="profile__skills mb-small">Non-Tech. Lead</p>
                    <div class="contact-box">
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-facebook" ></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link ">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="profile__card">
                    <div class="profile__image">
                        <img src="img/Aishwarya Singh.jpg" alt="mentor">
                    </div>
                    <h3 class="profile__name mb-vs">Aishwarya</h3>
                    <p class="profile__skills mb-small">Non-Tech. Co-lead</p>
                    <div class="contact-box">
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-facebook" ></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link ">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="profile__card">
                    <div class="profile__image">
                        <img src="img/krishnan.jpeg" alt="mentor">
                    </div>
                    <h3 class="profile__name mb-vs">Krishnan</h3>
                    <p class="profile__skills mb-small">Media Lead</p>
                    <div class="contact-box">
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-facebook" ></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link ">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="profile__card">
                    <div class="profile__image">
                        <img src="img/lakshay.jpg" alt="mentor">
                    </div>
                    <h3 class="profile__name mb-vs">Lakshay</h3>
                    <p class="profile__skills mb-small">Media Co-lead</p>
                    <div class="contact-box">
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-facebook" ></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link ">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </div>
                </div>

               <!-- <div class="profile__card">
                    <div class="profile__image">
                        <img src="img/pratiyush.jpeg" alt="mentor">
                    </div>
                    <h3 class="profile__name mb-vs">Pratiyush</h3>
                    <p class="profile__skills mb-small">SIH winner</p>
                    <div class="contact-box">
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-facebook" ></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link ">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="profile__card">
                    <div class="profile__image">
                        <img src="img/himanshu.jpg" alt="mentor">
                    </div>
                    <h3 class="profile__name mb-vs">Atin</h3>
                    <p class="profile__skills mb-small">SIH winner</p>
                    <div class="contact-box">
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-facebook" ></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link ">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                        <a href="#" class="contact__link profile__link">
                            <svg class="contact__icon profile__icon">
                                <use xlink:href="img/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </div>
                </div> -->



            </div>
    </section>

      <%-include("../partials/footer.ejs")%>