<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/font/flaticon.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header  class="header-3">
        <div class="header__logo-box">
            <img src="/images/logo.png" class="header__logo" alt="logo" />
            <h2 class="header__org-name">Developer Students Club</h2>
          </div>
          <a class="btn btn--main" href="#"> Join us</a>
    </header>

    <main>
        <div class="event-heading">
         <h2 class="heading-secondary">Getting Started with Google Cloud</h2>
        </div>
        <section class="section-event">
          
            <div class="section-event_img">
                <div class="section-event_img-bg"> 
                    &nbsp;
                 </div>

                 
                  
            <img  class="section-event_bg" src="/images/circle.svg" alt="">
          
            <img src="/images/banner-cl.jpg" alt="">
            <!-- <i class="flaticon-circles-doodle"></i> -->
        </div>
            <div class="event__info">
                <span class="event__info-calendar">
                 <i class="flaticon-calendar"></i>
                  <p>Date: 10 Oct</p>
                </span>
                <span class="event__info-time">
                    <i class="flaticon-time"></i>
                    <p>Time:5:00pm</p>
                </span>
                <span class="event__info-duration">
                    <i class="flaticon-long-term"></i>
                    <p>Duration: 1hr</p>
                </span>
            </div>
        </section>
        <section class="event__details">
           <div class="event__details-text">
               <div class="event__details-heading">
               <i class="flaticon-right-arrow"></i>
         <h3>About the event</h3>
        </div>
         <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum facere placeat dolore architecto
              vitae quae nemo aspernatur ea doloribus! Pariatur itaque iusto ratione non, perspiciatis asperiores ea eum nemo
               at Lorem, ipsum dolor sit amet consectetur adipisicing elit. A accusamus reiciendis ne
               mo eligendi, ipsa iure? Quidem exceptur
               i, sunt laudantium dolor reprehenderit a ad vel autem laboriosam recusandae nihil mollitia. Perspiciatis.!</p>
               <p>
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci unde cumque ut officia repellendus fuga, 
                   quo odio soluta. Enim blanditiis repellat doloremque animi reprehenderit natus, ullam magnam itaque porro sunt?
               </p>

               <p><a href="#">Link for the event PPT</a></p>
               <p><a href="#">Link for the event</a></p>

           </div>
           <div class="event__details-img">

             <!-- <i class="flaticon-circle-button-thick-outline"></i>
             <i class="flaticon-dry-clean" ></i>
             <i class="flaticon-half-circumference"></i>
             <i class="flaticon-doodle" ></i> -->

             <i class="flaticon-commercial-label-black-shape"></i>
             <i class="flaticon-dry-clean"></i>
             <i class="flaticon-dry-clean circle-2"></i>
             <i class="flaticon-plus-1 "></i>
             <i class="flaticon-plus-1 plus-2"></i>
             <i class="flaticon-play-arrow"></i>
           </div>
        </section>
        <section class="section-speaker">  
         <h2>Speaker</h2>
         <img src="" alt="">
           <p>Sakshi tomar</p>
        </section>
    </main>

</body>
</html>