    
  <%-include("../partials/header.ejs")%>

    <!-- about section -->
    <section class='info-section'>
        <div class=" info-container">
     
        <a data-aos="fade-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine" href="https://youtu.be/qWrc2blCWUo" class="info__img" >
       <img src="/images/info.png" alt="dsc">
       <div class="play-btn">
         <i class ="flaticon-play"></i> 
        </div> 
      </a>
      
       <div data-aos="fade-left"
       data-aos-offset="300"
       data-aos-easing="ease-in-sine" class='details'>
       <div class="info__details">
          <h2 > Concept of DSC?</h2>
         <p class="info__para">
          DSC is a Google Developers program for university students, designed to help them build their mobile 
          and web development skills, learn about cloud computing, competitive programming, data analysis, machine learning,
           cyber security and gain knowledge. It is open to any student, ranging from novice developers who are just starting,
            to advanced developers who want to further enhance their skills. It’s objective is to act as a space for students 
            to learn and collaborate as they solve real-life problems using technology. 
        </p>
      </div>
      </div> 
     
       </div>
     
      </section>
      
      
      <!-- Technology setion -->
    
        <section class="tech-section">
      
          <div data-aos="fade-up" data-aos-offset="300" class="tech-heading "> 
            <i class="flaticon-right-arrow"></i>
            <h2 >  Technologies We Support</h2>
           
          </div>
      
          
            
    
            <div data-aos="fade-up" data-aos-offset="300" class="row cards-row-1">
              <div class='col-1-of-3'>
                <div class="tech-card">
                <i class="flaticon-cloud-computing"> </i>
                <h3>Cloud Computing</h3>
               
                <p>Cloud computing is the delivery of different services through the Internet, 
                  including data storage, networking, and software. </p>
              
    
                <a href="#" class="btn-text" >Learn more</a>
                <div class="tech-card__border">
                   &nbsp;
                </div>
              </div>
    
              </div>
    
              <div class='col-1-of-3'>
                <div class="tech-card">
                <i class="flaticon-analysis"> </i>
                <h3>Data Analysis</h3>
                
                <p>Data analysis is the process of collecting and organizing data in order to draw helpful conclusions from it.</p>
             
    
                <a href="#" class="btn-text" >Learn more</a>
                <div class="tech-card__border">
                   &nbsp;
                </div>
              </div>
    
              </div>
    
              <div class='col-1-of-3'>
                <div class="tech-card">
                <i class="flaticon-shield"> </i>
                <h3>Cybersecurity</h3>
               
                <p>Cybersecurity is the practice of protecting systems, networks, and programs from malicious attacks. </p>
             
                <a href="#" class="btn-text" >Learn more</a>
                <div class="tech-card__border">
                   &nbsp;
                </div>
              </div>
    
              </div>
            </div>
    
            <div data-aos="fade-up" data-aos-offset="300" class="row cards-row-2">
              <div class='col-1-of-3'>
                <div class="tech-card">
                <i class="flaticon-android-logo"> </i>
                <h3>Android Development</h3>
               
                <p>Android Development is the process by which applications are created for devices running 
                  the Android operating system.</p>
    
                <a href="#" class="btn-text" >Learn more</a>
                <div class="tech-card__border">
                   &nbsp;
                </div>
              </div>
    
              </div>
    
              <div class='col-1-of-3'>
                <div class="tech-card">
                <i class="flaticon-web-development"> </i>
                <h3>Web Development</h3>
                
                <p>Web Development is the work that happens behind the scenes to make a website look great,
                   work fast and perform well with a seamless user experience.
                  .
                </p>
    
                <a href="#" class="btn-text" >Learn more</a>
                <div class="tech-card__border">
                   &nbsp;
                </div>
              </div>
    
              </div>
    
              <div class='col-1-of-3'>
                <div class="tech-card">
                <i class="flaticon-learning"> </i>
                <h3>Machine Learning</h3>
               
               <p>Machine learning (ML) is the study of computer algorithms that improve automatically through experience. </p>
                <a href="#" class="btn-text" >Learn more</a>
                <div class="tech-card__border">
                   &nbsp;
                </div>
              </div>
    
              </div>
            </div>
    
            <div data-aos="fade-up" data-aos-offset="300"  class="row cards-row-3">
              <div class='col-1-of-3 '>
                <div class="tech-card ">
                <i class="flaticon-coding"> </i>
                <h3>Competitive Programming</h3>
               
                <p>Competitive programming is a mind sport usually held over the Internet or a local network, 
                  involving participants trying to program according to provided specifications.</p>
                
    
                <a href="#" class="btn-text" >Learn more</a>
                <div class="tech-card__border">
                   &nbsp;
                </div>
              </div>
    
              </div>
    
           
            </div>
         
        </section>

        
        <%-include("../partials/footer.ejs")%>