    
  <%-include("../partials/header.ejs")%>
  <!-- <div class="boxes">
    <div class="box">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="box">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="box">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="box">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div> -->


    <!-- about section -->
    <section class='info-section'>
        <div class=" info-container">
     
        <div data-aos="fade-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine" class="info__video" >
        <iframe  src="https://www.youtube.com/embed/qWrc2blCWUo" frameborder="0"
         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
         allowfullscreen class="video"></iframe>
      </div>
      
       <div data-aos="fade-left"
       data-aos-offset="300"
       data-aos-easing="ease-in-sine" class='details'>
       <div class="info__details">
          <h2 > Concept of DSC?</h2>
         <p class="info__para">
          DSC is a Google Developers program for university students, designed to help them build their mobile 
          and web development skills, learn about cloud computing, competitive programming, data analysis, machine learning,
           cyber security and gain knowledge. It is open to any student, ranging from novice developers who are just starting,
            to advanced developers who want to further enhance their skills. It’s objective is to act as a space for students 
            to learn and collaborate as they solve real-life problems using technology. 
        </p>
      </div>
      </div> 
     
       </div>
     
      </section>
      
      
           <!-- Technology setion -->
    
           <section  class="tech-section">
      
            <div data-aos="fade-up" data-aos-offset="300" class="tech-heading "> 
              <i class="flaticon-right-arrow"></i>
              <h2>  Technologies We Support</h2>
             
            </div>
        
            
               
              <div  class="cards-row">
             
              
                <div data-aos="fade-up" data-aos-offset="300" class="tech-card">
                    <i class="flaticon-cloud-computing"> </i>
                    <h3>Cloud Computing</h3>
                  
                    <p>Cloud computing is the availability of computer system resources and data storage 
                      ,without direct active management by the user. </p>
                  
        
                    <a href="#popup__box" class="btn-text" >Learn more</a>
                    <div class="tech-card__border">
                      &nbsp;
                    </div>
                </div>
      
               
      
               
                <div data-aos="fade-up" data-aos-offset="300" class="tech-card">
                    <i class="flaticon-analysis"> </i>
                    <h3>Data Analysis</h3>
                    
                    <p>Data analysis is a process of inspecting,cleansing, transforming and modeling data for supporting decision-making.</p>
                
        
                    <a href="#popup__box" class="btn-text" >Learn more</a>
                    <div class="tech-card__border">
                      &nbsp;
                    </div>
                </div>
      
                
      
                
                <div data-aos="fade-up" data-aos-offset="300" class="tech-card">
                    <i class="flaticon-shield"> </i>
                    <h3>Cybersecurity</h3>
                  
                    <p>Cyber security is the practice of defending computers, servers, electronic systems, 
                      networks,and data from malicious attacks. 
                    </p>
                
                    <a href="#popup__box" class="btn-text" >Learn more</a>
                    <div class="tech-card__border">
                      &nbsp;
                    </div>
                </div>
      
       
      
             
            <!-- cards-row-2 -->
                <div data-aos="fade-up" data-aos-offset="300" class="tech-card">
                    <i class="flaticon-android-logo"> </i>
                    <h3>Android Development</h3>
                  
                    <p>Android Development is the process by which applications are created for devices running the 
                      Android operating system.</p>
        
                    <a href="#popup__box" class="btn-text" >Learn more</a>
                    <div class="tech-card__border">
                      &nbsp;
                    </div>
                </div>
      
               
      
                  <div data-aos="fade-up" data-aos-offset="300" class="tech-card">
                    <i class="flaticon-web-development"> </i>
                    <h3>Web Development</h3>
                    
                    <p>Web Development is the work that happens behind the scenes to make a website look great,
                       work fast and perform well.

                      .
                    </p>
        
                    <a href="#popup__box" class="btn-text" >Learn more</a>
                    <div class="tech-card__border">
                      &nbsp;
                    </div>
                </div>
      
      
              
                  <div data-aos="fade-up" data-aos-offset="300" class="tech-card">
                    <i class="flaticon-learning"> </i>
                    <h3>Machine Learning</h3>
                  
                    <p>Machine learning (ML) is the study of computer algorithms that improve automatically through experience. </p>
                    <a href="#" class="btn-text" >Learn more</a>
                    <div class="tech-card__border">
                      &nbsp;
                    </div>
                </div>
      
        
            
                <div class="tech-card ">
                    <i class="flaticon-coding"> </i>
                    <h3>Competitive Programming</h3>
                  
                    <p>Competitive programming is a mind sport  involving participants trying to program according 
                      to provided specifications.
                      </p>
                    
        
                    <a href="#" class="btn-text" >Learn more</a>
                    <div class="tech-card__border">
                      &nbsp;
                    </div>
                </div>
      
                
      
             
              </div>
          </section>
  
          <div class="popup" id= "popup__box">
            <div class="popup__content">
              <div class="popup__left">
                <figure>
                  <img class="popup__img" src="/images/ankur.jpg">
                  <figcaption class="popup__name">Ankur</figcaption>
                </figure>
                <figure>
                  <img src="/images/himanshugarg.png" class="popup__img" alt="">
                  <figcaption class="popup__name">Himanshu</figcaption>
                </figure>
              </div>
              <div class="popup__right" >
                <a href="#tech" class="popup__btn">&times;</a>
                <h1 class="popup__head"><span class="popup__head--1">Hi</span>, &nbsp;<span class="popup__head--2">Every One</span></h1>
                <div class="popup__text-box">
                  <p class="popup__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum, expedita dolorem! Excepturi, doloribus ea harum deleniti vitae error sapiente numquam dignissimos nam ipsa asperiores ducimus ab! Ducimus blanditiis facilis ad?</p>
          
                </div>
          
              </div>
            </div> 
          </div>
  
          <%-include("../partials/footer.ejs")%>