
.event-card {
  background: #ffffff;
  height:400px;
  -webkit-perspective: 1000;
  perspective: 1000;
  box-shadow: 0 10px 30px -15px rgba(0,0,0,.2);
  position: relative;
  text-align: left;
  transform: scale(0.99);
 
  -webkit-transition: all 0.3s 0s ease-in;
  transition: all 0.3s 0s ease-in;
  margin:6rem 0;
  z-index: 1;

  .date {
    position: absolute;
  top:0;
    left: 10px;
    display: flex;
    align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(#EA4335,0.8);
  text-shadow: 1px 1px rgba(black,0.7);
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);

  span {
    color: white;
    line-height: 1;
    &:first-child {
    
      font-size: 20px;
      font-weight: 900;
    }
    &:last-child {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
  &__image-holder {
    background: rgba(0, 0, 0, 0.1);
    height: 80%;
   // padding-bottom: 75%;

    img {
      //height:300px;
     width:100%;
     height:100%;
     object-fit: cover;

    }
  }
  .event-title {
    background: #ffffff;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;

    .toggle-info {
      border-radius: 32px;
      height: 32px;
      padding: 0;
      position: absolute;
      right: 15px;
      top: 10px;
      width: 32px;
      background-color: #4285F4;
      span {
        background: #ffffff;
        display: block;
        height: 2px;
        position: absolute;
        top: 16px;
        -webkit-transition: all 0.15s 0s ease-out;
        transition: all 0.15s 0s ease-out;
        width: 12px;

        &.left {
          right: 14px;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &.right {
          left: 14px;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
   h3{
margin-top:0.5rem;
     
   }
  
  }


  .card-flap {
    background: #d9d9d9;
    position: absolute;
    width: 100%;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  
    .event-description {
      padding: 0 15px 10px;
      position: relative;
      
    }
  }

.flap1 {
  -webkit-transition: all 0.3s 0.3s ease-out;
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}
.flap2 {
  -webkit-transition: all 0.3s 0s ease-out;
  transition: all 0.3s 0s ease-out;
  z-index: -2;

  .card-actions {
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
    padding: 10px 15px 20px;
    text-align: center;
    font-size: $default-font-size;
  
  }
}

&:hover{

  -webkit-transform: scale(1) ;
  transform: scale(1) ;
  box-shadow: 0 20px 40px -5px rgba(0,0,0,.2); 
}

}



// .cards.showing .event-card {
 

//   -webkit-transform: scale(0.88);
//   transform: scale(0.88);
// }
// .no-touch .cards.showing .event-card:hover {

//   -webkit-transform: scale(0.92);
//   transform: scale(0.92);
// }


.event-card.show {
  opacity: 1 !important;
  transform: translateY(-5rem) scale(1) ;

& .event-title a.toggle {
  &-info {
    background: #ea4435 !important;
    span {
      top: 14px;
      &.left {
        right: 10px;
      }

      &.right {
        left: 10px;
      }
    }
  }
}

& .card-flap {
  background: #ffffff;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

& .flap1 {
  -webkit-transition: all 0.3s 0s ease-out;
  transition: all 0.3s 0s ease-out;
}
& .flap2 {
  -webkit-transition: all 0.3s 0.2s ease-out;
  transition: all 0.3s 0.2s ease-out;
}
}

.flickity-viewport{
  height:550px;
}

