.footer {
    padding: 8rem 5rem; 
    // background: linear-gradient(to right bottom, #2A2457 , #08003C );
   // margin-top: 10rem;
    background-color: #08051A;

}

.footer-nav {
    display: flex;
    justify-content: space-between;

    &__link:visited, &__link:link {
        font-size: 1.2rem;
        display: inline-block;
        text-transform: uppercase;
        color: white;
        font-weight: 400;
    }

    &__link:hover {
        color: #6B6788;
    }
}

.footer__paragraph {
    font-size: 1.5rem;
    text-align-last: center;
    width: 60%;
    margin: auto;
    margin-top: 4rem;
    color: white;
}

.contact {
    margin-top: 5rem;
    &-box {
        display: flex;
        justify-content: center;
    }
    &__link {
        cursor: pointer;
        transition: transform .4s;
        
    }

    &__icon {
        font-size: 2rem;
        width: 5rem;
        height: 3rem;
        fill: white;
    }

    &__link:hover {
        transform: translateY(-5px);
    }
}