.header-2{
    padding: 2rem 5rem;
    height: 72vh;
    background-color: #08003c;
    position: relative;
    z-index: 50;
overflow: hidden;
   
[class^="header__gif"]{
    position:absolute;
     width:20rem;
     height:20rem;
     z-index: -1;
      opacity:0.12;
      object-fit: fill;
}
  

      .flaticon-plus-symbol-button {
          font-size: 20rem;
          color:#2A2457;
          position: absolute;
          right:-2%;
          top:1rem;
        
      }
     
   
    .plus-2{
        font-size: 3rem;
        position: absolute;
        transform:rotate(45deg);
        bottom:20%;
        right:9%;
        color:  #4285F4;
        animation:bounce 2s linear infinite;
    }

    &:before {
        content: "";
        position: absolute;
        top: 20%;
        left: -15%;
        
        width: 40%;
        height: 70%;
        background: linear-gradient(to left top, #2A2457  , #08003C 50%);
        transform: rotate(-45deg);
        border-radius: 5rem;
        z-index: -1;
    }

 

&__img{

   margin-top: -5%;
    margin-right: 10rem;
    flex-basis: 50%;
  
   
    
    img{
       height:100%;
        max-width: 100%;
       
    }
}


&:after {
    content: "";
    position: absolute;
    bottom: -10%;
    left: 40%;
    border-radius: 50%;
    animation: round 2s linear;
    animation-iteration-count: infinite;
    width: 20rem;
    height: 20rem;
    background: linear-gradient(210.51deg, #2A2457 -12.32%, #08003C 92%);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
   // transform: translate(-50%, -50%) rotate(24.94deg);
    z-index: -1;
}
}


