.header-2{
    padding: 2rem 5rem;
    height: 72vh;
    background-color: #08003c;
    position: relative;
    z-index: 50;
overflow: hidden;
   &__design{
   
        
          
        
        z-index: -1;
      
           & .design1{ 
            position:absolute;
               top:-5rem;
            right: 0;
            transform: rotate(10deg);
           }
       
      
        & .design2{
            position:absolute;
            bottom:-15rem;
            left: 20%;
          
        }
  
   }

    &:before {
        content: "";
        position: absolute;
        top: -5rem;
        left: -10%;
        // clip-path: polygon(0 0, 30% 0, 100% 50%, 30% 100%, 0 100%);
        // -webkit-clip-path: polygon(0 0, 30% 0, 100% 50%, 30% 100%, 0 100%);

        width: 60rem;
        height: 60rem;
        background: linear-gradient(to left top, #2A2457 30% , #08003C 70%);
        transform: rotate(-45deg);
        border-radius: 5rem;
        z-index: -1;
    }

 

&__img{
    
    //position: absolute;
    // left: 60%;
    // top: 40%;
    // transform: translate(-50%, -50%);
    margin-top: -5rem;
    flex-basis: 60%;
    img{
        max-width: 100%;
    }
}
}