.cards-row{
	display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 8rem 7rem;
     padding:0 5rem;
     
	.tech-card{

	position: relative;
	text-align: center;
	box-shadow: 0 10px 30px -15px rgba(0,0,0,.2);
	border-radius: 10px;
	padding:2rem;

	line-height: 1.7;
	
	i{  
		font-size: 6rem;
		background: linear-gradient(to right , #EA4335, #4285F4, #34A853);
		-webkit-background-clip: text;
		color: transparent;
	}

	&__border{
		position: absolute;
		bottom: 0;
		left:0;
		width: 100%;
		border-radius: 0 0 10px 10px;
		
		height: 1rem;
	}

	&:hover{
		transform: translateY(-1rem);
		box-shadow: 0 20px 40px -5px rgba(0,0,0,.2); ;
	}
}
}

.cards-row{
	
		
		.tech-card {
         line-height: 2;

			&__border{
				background-color:  #4286f4e3 ;
			}
			
			.btn-text:hover{
				background-color: #4285F4e3;
				
			
			}
		}


		
}