    /*
    Flaticon icon font: Flaticon
    Creation date: 06/11/2020 12:39
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-play:before { content: "\f100"; }
.flaticon-cloud-computing:before { content: "\f101"; }
.flaticon-web-programming:before { content: "\f102"; }
.flaticon-coding:before { content: "\f103"; }
.flaticon-analysis:before { content: "\f104"; }
.flaticon-learning:before { content: "\f105"; }
.flaticon-android-logo:before { content: "\f106"; }
.flaticon-web-development:before { content: "\f107"; }
.flaticon-shield:before { content: "\f108"; }
.flaticon-plus:before { content: "\f109"; }
.flaticon-negative-sign-button:before { content: "\f10a"; }
.flaticon-instagram:before { content: "\f10b"; }
.flaticon-twitter:before { content: "\f10c"; }
.flaticon-linkedin:before { content: "\f10d"; }
.flaticon-facebook:before { content: "\f10e"; }
.flaticon-calendar:before { content: "\f10f"; }
.flaticon-time:before { content: "\f110"; }
.flaticon-long-term:before { content: "\f111"; }
    
    $font-Flaticon-play: "\f100";
    $font-Flaticon-cloud-computing: "\f101";
    $font-Flaticon-web-programming: "\f102";
    $font-Flaticon-coding: "\f103";
    $font-Flaticon-analysis: "\f104";
    $font-Flaticon-learning: "\f105";
    $font-Flaticon-android-logo: "\f106";
    $font-Flaticon-web-development: "\f107";
    $font-Flaticon-shield: "\f108";
    $font-Flaticon-plus: "\f109";
    $font-Flaticon-negative-sign-button: "\f10a";
    $font-Flaticon-instagram: "\f10b";
    $font-Flaticon-twitter: "\f10c";
    $font-Flaticon-linkedin: "\f10d";
    $font-Flaticon-facebook: "\f10e";
    $font-Flaticon-calendar: "\f10f";
    $font-Flaticon-time: "\f110";
    $font-Flaticon-long-term: "\f111";